<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>게시판</h1>

<form action="/posts" method="post">
    제목: <input type="text" name="title">
    내용: <input type="text" name="content">
    <button type="submit">작성</button>
</form>

<h2>게시글 목록</h2>
<ul>
    <li th:each="post : ${posts}">
        <b th:text="${post.id} + ' : ' + ${post.title}"></b>
        <p th:text="${post.content}"></p>
    </li>
</ul>
</body>
</html>
